---
import {SITE} from '~/config.mjs';

const {
	title = SITE.name,
	description = '',
	image: _image,
	appStoreId,
} = Astro.props;

const image = _image && new URL(_image, Astro.site);
const canonicalURL = new URL(Astro.url.pathname.replace(/\.html$/, ''), Astro.site);

---

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{title}</title>
<meta name="description" content={description}>
<meta name="author" content="Noematic">
<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL.toString()} />
<meta property="og:image" content={_image && image.toString()} />
<meta name="twitter:site" content="@noematic_eu">
<meta name="twitter:creator" content="@noematic_eu">
<meta name="twitter:description" content={description}>
<meta name="x-build-time" content={(new Date()).toUTCString()}>

{appStoreId ? (
	<meta name="apple-itunes-app" content={`app-id=${appStoreId}`}>
	<meta name="twitter:card" content="app">
	<meta name="twitter:app:id:iphone" content={appStoreId}>
) : (
	<meta name="twitter:card" content="summary">
)}

<link rel="sitemap" href="/sitemap-index.xml">
<link rel="alternate" type="application/rss+xml" title="Qi — Blog" href="/rss.xml">
<link rel="alternate" type="application/rss+xml" title="Qi — New Apps" href="/rss-apps.xml">
<link rel="alternate" type="application/rss+xml" title="Qi — New Repos" href="/rss-repos.xml">
<link rel="icon" href="apple-touch-icon.webp">

<script data-goatcounter="https://qi.fr.gc.noematic.eu/count" async src="/count.min.js"></script>
